/* Define font-face declarations if the import doesn't work */
@font-face {
  font-family: "et-book";
  src: url("typeface-et-book/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "et-book";
  src: url("typeface-et-book/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "et-book";
  src: url("typeface-et-book/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "et-book-roman-old-style";
  src: url("typeface-et-book/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.cm-editor {
  font-size: 15px;
  /* Adds dark mode */
  /* color: red; */
  /* Chapter Epigraphs */
  /* end chapter epigraphs styles */
  /* 50 + 5 == 55, to be the same width as paragraph */
  /* Sidenotes, margin notes, figures, captions */
  /* Media query for narrower screens */
}
.cm-editor body {
  /* width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%; */
  font-family: "et-book";
  background-color: #fffff8;
  color: #111;
  /* max-width: 1400px; */
  counter-reset: sidenote-counter;
}
@media (prefers-color-scheme: dark) {
  .cm-editor body {
    background-color: #151515;
    color: #ddd;
  }
}
.cm-editor h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}
.cm-editor h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}
.cm-editor h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}
.cm-editor hr {
  display: block;
  height: 1px;
  width: 55%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.cm-editor p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1;
}
.cm-editor .numeral {
  font-family: "et-book-roman-old-style";
}
.cm-editor .danger {
  color: red;
}
.cm-editor article {
  padding: 5rem 0rem;
}
.cm-editor section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cm-editor p,
.cm-editor dl,
.cm-editor ol,
.cm-editor ul {
  font-size: 1.4rem;
  line-height: 2rem;
}
.cm-editor p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}
.cm-editor div.epigraph {
  margin: 5em 0;
}
.cm-editor div.epigraph > blockquote {
  margin-top: 3em;
  margin-bottom: 3em;
}
.cm-editor div.epigraph > blockquote,
.cm-editor div.epigraph > blockquote > p {
  font-style: italic;
}
.cm-editor div.epigraph > blockquote > footer {
  font-style: normal;
}
.cm-editor div.epigraph > blockquote > footer > cite {
  font-style: italic;
}
.cm-editor blockquote {
  font-size: 1.4rem;
}
.cm-editor blockquote p {
  width: 55%;
  margin-right: 40px;
}
.cm-editor blockquote footer {
  width: 55%;
  font-size: 1.1rem;
  text-align: right;
}
.cm-editor section > p,
.cm-editor section > footer,
.cm-editor section > table {
  width: 55%;
}
.cm-editor section > dl,
.cm-editor section > ol,
.cm-editor section > ul {
  width: 50%;
  -webkit-padding-start: 5%;
}
.cm-editor dt:not(:first-child),
.cm-editor li:not(:first-child) {
  margin-top: 0.25rem;
}
.cm-editor figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}
.cm-editor figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}
.cm-editor figure.fullwidth figcaption {
  margin-right: 24%;
}
.cm-editor a:link,
.cm-editor a:visited {
  color: inherit;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.05em;
}
.cm-editor img {
  max-width: 100%;
}
@media (max-width: 760px) {
  .cm-editor div[data-callout=marginnote] {
    float: none;
    margin-right: 0;
    width: 95%;
    margin: 1rem 2.5%;
  }
}
.cm-editor .callout[data-callout=marginnote],
.cm-editor .callout[data-callout=sidenote] {
  margin-right: -60%;
  width: 50%;
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
}
.cm-editor .sidenote-number {
  counter-increment: sidenote-counter;
}
.cm-editor .sidenote-number:after,
.cm-editor .callout[data-callout=sidenote]:before {
  font-family: "et-book-roman-old-style";
  position: relative;
  vertical-align: baseline;
}
.cm-editor .sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}
.cm-editor .callout[data-callout=sidenote]:before {
  content: counter(sidenote-counter) " ";
  font-size: 1rem;
  top: -0.5rem;
}
.cm-editor blockquote .callout[data-callout=marginnote],
.cm-editor blockquote .callout[data-callout=sidenote] {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}
.cm-editor div.fullwidth,
.cm-editor table.fullwidth {
  width: 100%;
}
.cm-editor div.table-wrapper {
  overflow-x: auto;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}
.cm-editor .sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: 0.03em;
}
.cm-editor code,
.cm-editor pre > code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1rem;
  line-height: 1.42;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}
.cm-editor .sans > code {
  font-size: 1.2rem;
}
.cm-editor h1 > code,
.cm-editor h2 > code,
.cm-editor h3 > code {
  font-size: 0.8em;
}
.cm-editor .callout[data-callout=marginnote] > code,
.cm-editor .callout[data-callout=sidenote] > code {
  font-size: 1rem;
}
.cm-editor pre > code {
  font-size: 0.9rem;
  width: 52.5%;
  margin-left: 2.5%;
  overflow-x: auto;
  display: block;
}
.cm-editor pre.fullwidth > code {
  width: 90%;
}
.cm-editor .fullwidth {
  max-width: 90%;
  clear: both;
}
.cm-editor span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}
.cm-editor input.margin-toggle {
  display: none;
}
.cm-editor label.sidenote-number {
  display: inline-block;
  max-height: 2rem;
  /* should be less than or equal to paragraph line-height */
}
.cm-editor label.margin-toggle:not(.sidenote-number) {
  display: none;
}
.cm-editor .iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.cm-editor .iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 760px) {
  .cm-editor body {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
  }
  .cm-editor hr,
  .cm-editor section > p,
  .cm-editor section > footer,
  .cm-editor section > table {
    width: 100%;
  }
  .cm-editor pre > code {
    width: 97%;
  }
  .cm-editor section > dl,
  .cm-editor section > ol,
  .cm-editor section > ul {
    width: 90%;
  }
  .cm-editor figure {
    max-width: 90%;
  }
  .cm-editor figcaption,
  .cm-editor figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }
  .cm-editor blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
  }
  .cm-editor blockquote p,
  .cm-editor blockquote footer {
    width: 100%;
  }
  .cm-editor label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }
  .cm-editor label {
    cursor: pointer;
  }
  .cm-editor div.table-wrapper,
  .cm-editor table {
    width: 85%;
  }
  .cm-editor img {
    width: 100%;
  }
}

/*# sourceMappingURL=theme.css.map */
